.teams-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8FCFD;
    .teams-swiper-container {
        width: 100%;
        //height: 8rem;
        overflow: hidden;
        text-align: center;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            // background: #fff;
            /* Center slide text vertically */
            border-radius: 1rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
        }
    }
    .teams-wrapper, .teams-wrapper1 {
        margin-top: 4rem;
        width: 100%;
        display: flex;
        justify-content: center;
        .member-card {
            width: 39rem;
            height: 48rem;
            margin: 0 4rem;
            border-radius: 2rem;
            border: 1px solid #E8E8E8;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5rem 6rem;
            .image {
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
            }
            .image.first {
                background: url('../images/ceo.jpeg') no-repeat;
                background-size: cover;
                background-position: center;
            }
            .image.second {
                background: url('../images/coo.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }
            .image.third {
                border: 1px solid #E8E8E8;
                background-size: cover;
                background-position: center;
            }
            .description {
                margin: 1rem 0rem;
                text-align: center;
                font-size: 2rem;
            }
            .member-card-inline-divider {
                margin: 2.8rem 0rem;
                height: 0.3rem;
                width: 9.4rem;
                background-color: #9FE670;
            }
            .member-position {
                margin-top: 1rem;
            }
            &:hover {
                box-shadow: 14px 27px 80px rgba($color: #000000, $alpha: 0.09);
            }
        }
    }
    .teams-wrapper {
        display: none;
    }
}

@media screen and (max-width: 930px) {
    .teams-wrapper {
        display: block !important;
        .member-card {
            margin: 2rem 0rem !important;
        }
    }
    .teams-wrapper1 {
        display: none !important;
    }
}

@media screen and (max-width: 414px) {
    .member-card {
        width: 30rem !important;
        height: 48rem;
    }
}